/*font stye*/
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", serif;
  font-weight: 900;
  font-style: italic;
}


body {
  margin: 0px 160px;
  background-color: #F1F1F3;
}

/*header section*/
.header-title {
  display: flex;
  padding: 24px 0px;
  gap: auto;
  justify-content: space-between;
}

.header-title-bd {
  font-weight: bold;
  font-size: 222px 32px;
  color: #0E0E0E;
}

.header-title-btn:hover {
  background-color: brown;
}

.header-title-btn {
  height: 52px;
  width: 116px;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  background: none;
}

.header-title-btn a {
  text-decoration: none;
  color: #006A50;
}

.header-body {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0px 80px 0px;
  /* padding: 80px 100px; */
  background-color: #C6E4D6;
  border-radius: 24px;
}

.header-containar {
  /* width: 622px;
  height: 326px; */
  margin: 117px 0px 117px 60px;
  display: block;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24;
}

.title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 0px;
  color: #0E0E0E;
}

.description {
  font-weight: bold;
  font-size: 56px;
  margin-top: 16px;
  margin-bottom: 24px;
  color: #0E0E0E;
}

.header-body-btn:hover {
  background-color: brown;
}

.header-body-btn {
  width: 270;
  height: 56;
  font-weight: 202;
  font-size: 22px;
  margin-top: 0px;
  padding: 17px 34px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  background-color: #006A50;
}

.header-body-btn a {
  color: #FFFFFF;
  text-decoration: none;
}

.header-pic {
  width: 474.03px;
  height: 400px;
  margin: 80px 60px 0px 24px;
  overflow-clip-margin: content-box;
}



/*main section*/

/*future section*/
.furure {
  justify-content: flex-start;
}

.future-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 24px;
}

.future-description {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(14, 14, 14, 0.7);
}


.future-container-box {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 24px;

}

.future-first-container {
  border-radius: 16px;
  background-color: rgba(84, 144, 245, 0.2);
  padding: 32px;
}

.future-second-container {
  border-radius: 16px;
  background-color: #C6E4D6;
  padding: 32px;
}

.future-third-container {
  border-radius: 16px;
  background-color: #F7EBCF;
  padding: 32px;
}

.future-third-container img {
  font-size: 62px;
  height: 62px;
}

/* .future-container-logo {
  font-size: 62px;
  height: 62px;
} */

.future-containar-title {
  font-weight: bold;
  font-size: 20px;
}

.future-container-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}

.future-container-btn {
  width: 122px;
  height: 41px;
  font-weight: 600;
  font-size: 16;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
  text-decoration: none;
}

.future-container-btn:hover {
  background-color: brown;
}

.future-container-btn a {
  text-decoration: none;
  color: wheat;
}

.future-container-first-btn {
  background-color: #5490F5;

}

.future-container-second-btn {
  background-color: #09A15C;
}

.future-container-third-btn {
  background-color: #FFC239;
}

/*News section*/
.main-news-box-title {
  font-weight: bold;
  font-size: 40px;
  color: #0E0E0E;
}

.main-news-box-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 24px;
  margin-bottom: 32px;
}

.news-picture img {
  border-radius: 24px;
}

.news-box {
  display: flex;
  padding: 48px;
  gap: 32px;
  border-radius: 10px;
  margin-bottom: 80px;
}

.first-news {
  border: none;
  background-color: white;
  margin-bottom: 24px;
}

.second-news {
  border: none;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.third-news {
  border: none;
  background-color: white;
  margin-top: 24px;
}

.news-details {
  margin-top: 8px;
  margin-bottom: 8px;
}

.news-title {
  font-weight: bold;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.news-channel-logo {
  margin-top: 12px;
  margin-bottom: 12px;
}

.news-channel-logo img {
  width: 134px;
  height: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.news-date-time {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  display: flex;
  column-gap: 12px;
  padding: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.news-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 0px;
  margin-bottom: 0px;
}

.news-rm-btn {
  border: none;
  border-radius: 8px;
  padding: 13px 26px;
  background-color: #006A50;
  margin-top: 32px;
  margin-bottom: 0px;

}

.news-rm-btn:hover {
  background-color: brown;
}

.news-rm-btn a {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #FFFFFF;
}

/*donate section*/
.donate-box {
  text-align: center;
}

.donate-title {
  font-weight: bold;
  font-size: 40px;
  color: #0E0E0E;
  margin-bottom: 24px;
}

.donate-description {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 0px;
  margin-bottom: 0px;
}

.donate-amount {
  gap: 24px;
  margin-top: 32px;
  margin-bottom: 24px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

.color-btn {
  background-color: #09A15C;
}

.donate-amount button:hover {
  background-color: brown;
}

.donate-amount button {
  justify-content: space-between;
  width: 220px;
  height: 100px;
  border: none;
  justify-content: space-between;
  border-radius: 8px;
  background-color: white;
  font-weight: bold;
  font-size: 40px;
  color: rgba(14, 14, 14, 0.8);

}

.primary-amount-btn {
  width: 80%;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: rgba(14, 14, 14, 0.3);
  margin-top: 0px;
  margin-bottom: 32px;
}

.ok-btn button {
  height: 56px;
  width: 151;
  background-color: #006A50;
  border: none;
  padding: 17px 34px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}

.ok-btn:hover {
  color: brown;
}

/* subscribe section  */
.subscribe-box {
  height: 395px;
  background-color: #C6E4D6;
  margin-top: 80px;
  margin-bottom: 80px;
  border: none;
  border-radius: 24px;
  text-align: center;
  padding: 80px 200px;
}

.subscribe-title {
  font-weight: bold;
  font-size: 40px;
  color: #0E0E0E;
}

.subscribe-descrip {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin: 16px 64px 24px;
}

.subscribe-text-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.subscribe-text {
  width: 600px;
  height: 39px;
  background-color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  padding: 9px 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  border-radius: 8px 0px 0px 8px;
  color: rgba(14, 14, 14, 0.3);
}

.subscribe-btn button {
  font-weight: 500;
  font-size: 18;
  color: #FFFFFF;
  width: 150px;
  height: 56px;
  border: none;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
}
.promissin{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-top: 25px;
  margin-bottom: 0px;
}


/*footer section*/
.footer{
  text-align: center;
}
.foote-title{
  font-weight: bold;
  font-size: 32px;
  color: #0E0E0E;
  margin-top: 50px;
  margin-bottom: 32px;
}
.icon{
  /* width: 120px;
  height: 24; */
  /* justify-content: space-between; */
  margin-top: 32px;
  margin-bottom: 50px;
}
.mid-icon{
  margin-left: 23px;
  margin-right: 23px;
}